<h1>Boas-vindas NoHarm</h1>
<h1>Credenciais de Acesso</h1>

<p>Bem vindo, {{user}}!</p>
<p>Temos o prazer de lhes dar as boas-vindas à NoHarm.ai.</p>

<h2>Credenciais de Acesso</h2>
<p>Link: <a href="{{host}}">{{host}}</a></p>
<p>Email: {{email}}</p>
<p>Senha: {{password}}</p>
<p>Você pode alterar sua senha no Menu do Usuário.</p>
<p>Qualquer dúvida, entre em contato.</p>
<p>Abraços,</p>
<p>Suporte NoHarm</p>
<p>
  <img
    src="https://noharm.ai/assets/images/hero-brand.png"
    width="100"
    alt="NoHarm Logo"
  />
</p>

