<table style="border: none; 
border-collapse: collapse;
width: 90%;
margin-left: 5%;">
  <tbody>
    <tr style="height: 17.25pt">
      <td
        style="
          vertical-align: top;
          background-color: rgb(7, 55, 99);
          padding: 5pt;
          overflow: hidden;
        "
      >
        <p
          dir="ltr"
          style="
            line-height: 1.2;
            text-align: center;
            margin: 2.5% 0%;
          "
        >
        <img
            src="https://noharm.ai/assets/images/noharm-wide.png"
            style="height: 80px;"
        />
        
        </p>
      </td>
    </tr>
    <tr style="height: 0pt">
      <td
        style="
          vertical-align: top;
          overflow: hidden;
        "
      >
    
          <h1
            style="
              font-size: 20pt;
              font-family: Arial;
              color: rgb(11, 83, 148);
              background-color: transparent;
              font-weight: 700;
              font-variant-numeric: normal;
              font-variant-east-asian: normal;
              vertical-align: baseline;
              text-align: center;
              padding: 20px;
            "
            >
            Boas-vindas à NoHarm
          </h1>
      </td>
    </tr>
    <tr style="height: 0pt">
      <td
        style="
          vertical-align: top;
          overflow: hidden;
        "
      >
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;       
          "
        >
          
          Bem vindo, {{user}}!
          
        </p>
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;
          "
        >
      
          Temos o prazer de lhes dar as boas-vindas à NoHarm.ai.
        
        </p>
      </td>
    </tr>
    <tr style="height: 0pt">
      <td
        style="
          vertical-align: top;
          overflow: hidden;
        "
      >
        <h1
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 16pt;
            font-family: Arial;
            color: rgb(74, 134, 232);
            margin-top: 40px;
          "
        >
          Credenciais de Acesso
        </h1>
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;
          "
        >
          Link:
          <a href="{{host}}"
          style="text-decoration-line: none"
          target="_blank"
          >{{host}}
          </a>
        </p>
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;
          "
        >
          
            Email: {{email}}
        
        </p>
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;
          "
        >
        Senha: {{password}}
        </p>
        
        <br/>
        
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;
          "
        >
        Você pode <b> alterar sua senha </b> no Menu do Usuário.
        </p>
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;
          "
        >
        Qualquer dúvida, entre em contato.
        </p>
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;
            margin-bottom: 30px;
          "
        >
        Abraços, Suporte NoHarm
        </p>
      </td>
    </tr>
    <tr style="height: 0pt">
      <td
        style="
          vertical-align: top;
          background-color: rgb(7, 55, 99);
          padding: 5pt;
          overflow: hidden;
        "
      >
        <p
          dir="ltr"
          style="
            line-height: 1.44;
            font-size: 12pt;
            font-family: Arial;
            text-align: center;
            color: rgb(255, 255, 255);
          "
        >
          Saiba mais sobre as funcionalidades da NoHarm na 
          <a
            href="https://noharm.octadesk.com/kb"
            style="text-decoration-line: none; color: #FFF;"
            target="_blank"
            >
          Base de Conhecimento!
          </a>
        </p>
      </td>
    </tr>
  </tbody>
</table>